
    <div class="container">
        <div class="card">
            <div class="box1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>{{exercise.exerciseName}}</h3>
                    <p>Sets: {{exercise.exerciseSets}}</p>
                    <p>Reps: {{exercise.exerciseReps}}</p>
                    <p>Suggest Weight: {{exercise.exerciseWeight}}</p>
                    <a [routerLink] = "['/getExercise/', exercise.exerciseID]" class="select1">View Video</a>
                </div>
            </div>
        </div>
    </div>
