.menu {
    padding-top: 10px;
    padding-bottom: 15px;
}

.mat-menu-item {
    background: black;
    background-size: cover;
    color: whitesmoke;
}

.mat-menu-item-submenu-trigger::after {
    color: whitesmoke;
}

.menuButton {
    color: whitesmoke;
    font-size: large;
}