<body>
    <div id="header">
        <img id="headerimg" src="./assets/dpi6.png">
    </div>

    <!--3 cards div class, showcase about me or go to contact page.-->

    <app-carousel></app-carousel>

    <div class="container">
        <div class="card">
            <div class="box1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Get Your Daily Pump!</h3>
                    <p></p>
                    <a class = "opacity" href="http://localhost:4200/intensitys" class="select1">Click Here</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="box2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Contact Page</h3>
                    <!-- <i class= "far fa-address-card" aria-hidden= "true"></i> -->
                    <p></p>
                    <a href="http://localhost:4200/contact" class="select2">Click Here</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="box1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Add & Delete Workouts</h3>
                    <p></p>
                    <a href="http://localhost:4200/editworkout" class="select1">Click Here</a>
                </div>
            </div>
        </div>
    </div>


</body>