<body>
    <div id="header">
        <img id="headerimg" src="./assets/dpi6.png">
    </div>

    <app-carousel></app-carousel>

    <div class="container">
        <div class="card">
            <div class="box1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Get Your Daily Pump!</h3>
                    <p></p>
                    <a class = "opacity" href="http://localhost:4200/intensitys" class="select1">See Exercises</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="box1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Question & Feedback Page</h3>
                    <!-- <i class= "far fa-address-card" aria-hidden= "true"></i> -->
                    <p></p>
                    <a href="http://localhost:4200/contact" class="select1">Contact Me</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="box1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Add & Delete Workouts</h3>
                    <p></p>
                    <a href="http://localhost:4200/editworkout" class="select1">Edit Here</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="box3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Dynamic </h3>
                    <h3>Warm-Ups</h3>
                    <p></p>
                    <a href="http://localhost:4200/warmUps" class="select3">See Warm Ups</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="box3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Cooldown</h3>
                    <h3>Exercises</h3>
                    <p></p>
                    <a href="http://localhost:4200/cooldowns" class="select3">See Cooldowns</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="box3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>Get That Motivation!</h3>
                    <p></p>
                    <a href="http://localhost:4200/motivation" class="select3">Need It!</a>
                </div>
            </div>
        </div>
    </div>


</body>