
    <div class="container">
        <div class="card">
            <div class="box1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <h3>{{intensity.intensityName}} Workout</h3>
                    <p>{{intensity.intensityDescription}}</p>
                    <p>Time: {{intensity.intensityDuration}}</p>
                    <a href="http://localhost:4200/workouts/{{intensity.intensityID}}" class="select1">Select</a>
                </div>
            </div>
        </div>
    </div>