<body>

    <div id="addExercises">
        <!-- header1 -->
        <h1>{{selectedWorkout.workoutName}}</h1>
        <h4>*Enter New Exercises One At A Time*</h4>

        <h4>Exercise Name (Required)</h4>
        <input style="width: 300px" type="text" [(ngModel)]="name" placeholder="Enter Exercise Name Here : ">
        <br>

        <h4>Description (Optional)</h4>
        <input style="width: 300px" type="text" [(ngModel)]="description" placeholder="Enter Description Here : ">
        <br>

        <h4>Enter # of Sets (Required)</h4>
        <select style="width: 50px" [(ngModel)] = "sets">
            <option value = 1>1</option>
            <option value = 2>2</option>
            <option value = 3>3</option>
            <option value = 4>4</option>
            <option value = 5>5</option>
        </select>
        <br>

        <h4>Enter # of Reps (Required)</h4>
        <input style = "width: 300px;" type = "text" [(ngModel)] = "reps" placeholder="Enter Rep Range Here : ">
        <br>

        <h4>Enter Weight Range (Optional if Bodyweight Exercise)</h4>
        <input style = "width: 300px;" type = "text" [(ngModel)] = "weight" placeholder="Enter Weight Range Here : ">
        <br>

        <h4>Is This A Bodyweight Exercise? (Required)</h4>
        <select style= "width: 100px" [(ngModel)] = "bodyweight">
            <option [ngValue] = true>Yes</option>
            <option [ngValue] = false>No</option>
        </select>
        <br>

        <h4>Add A YouTube Link For Video (Required)</h4>
        <input style = "width: 300px;" type = "text" [(ngModel)] = "urlPath" placeholder="Paste Link Here : ">
        <br>
        <br>

        <button id="button1" (click)="addExercise()">Add Exercise</button>
        <br>
        <br>
        <div style = "display: none;" id = "exerciseAdded">--Exercises Added--</div>

    </div>

    <div id = "addExistingExercises">
        <h1>{{selectedWorkout.workoutName}}</h1>
        <h4>*Choose An Existing Exercise To Add*</h4>

        <select id = "exerciseSelect" [(ngModel)] = "selectExercise">
            <option [ngValue] = "null"></option>
            <option *ngFor = "let exercise of exerciseList" [ngValue] = "exercise">Name: {{exercise.exerciseName}}</option>
        </select>
        <br>
        <br>
        
        <button id = "button1" (click) = "addExistingExercise()">Add Exercise</button>

    </div>

</body>