#header {
  margin: auto;
  text-align: center;
  height: 50%;
  width: 100%;
  color: whitesmoke;
  font-size: xx-large;
  text-shadow: 10px 10px 10px  darkslategray;
  border: 5px solid gray;
  background: rgba(17, 17, 17, 0.486);
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  
}

  body {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-image: url("/assets/barbell.jpg");
    background-size: cover;
    background-attachment: fixed;
}

iframe {
  height: 600px;
  width: 600px;
  border: 20px solid whitesmoke;
  margin-bottom: 100px;
}