#header1 {
    margin: auto;
    text-align: center;
    height: 50%;
    width: 100%;
    color: whitesmoke;
    font-size: large;
    text-shadow: 5px 5px 5px  black;
    border: 5px solid gray;
    background: rgba(17, 17, 17, 0.486);
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    padding-bottom: 50px;
    
  }

  #header2 {
    margin: auto;
    text-align: center;
    height: 50%;
    width: 100%;
    color: whitesmoke;
    font-size: large;
    text-shadow: 5px 5px 5px  black;
    border: 5px solid gray;
    background: rgba(17, 17, 17, 0.486);
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 200px;
    padding-bottom: 50px;
    
  }
  
  
    body {
      display: flex;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      min-height: 100vh;
      background: whitesmoke;
      background-size: cover;
      background-attachment: fixed;
  }

select {
    width: 100px;
    height: 20px;
}

  button {
      height: 20px;
      width: 120px;
  }

  button:hover {
      background-color: #800000;
      color: white;
  }