
<body>

    <div id="header1">
        <h1>Add A Workout</h1>
        <h3>Workout Name:</h3>
        <input style = "width: 300px" 
                type = "text" 
                [(ngModel)] = "name" 
                placeholder="Enter Workout Name Here : ">
        <br>
        <h3>Intensity Level</h3>
        <select [(ngModel)] = "intensityID" ngOptions = "let intensity in intensityList">
            <option value = "1">{{intensity1}}</option>
            <option value = "2">{{intensity2}}</option>
            <option value = "3">{{intensity3}}</option>
        </select>
        <br>
        <h3>Description (Optional)</h3>
        <input style = "width: 300px" 
                type = "text" 
                [(ngModel)] = "desc" 
                placeholder="Enter Description Here : ">
        <br>
        <br>
        <button id = "button1" (click)="addWorkout()">Add Workout</button>
        <br>
 
    </div>

    <br>
    <br>

    <div id="header3">
        <h1>Add Exercises To Existing Workout</h1>
        <h3>Lookup Workout ID's</h3> <!-- TODO // SET UP A DROP DOWN FOR ALL ID'S AND CORRESPONDING NAMES-->
        <input style = "width: 300px" type = "number" [(ngModel)] = "workoutID" placeholder="Enter ID Here:">
        <br>
        <br>
        <button id = "button3" (click)="deleteWorkout()">Add Exercises</button>
        <br>
 
    </div>

    <br>
    <br>

    <div id="header2">
        <h1>Delete A Workout By ID</h1>
        <h3>Lookup Workout ID's</h3> <!-- TODO // SET UP A DROP DOWN FOR ALL ID'S AND CORRESPONDING NAMES-->
        <input style = "width: 300px" type = "number" [(ngModel)] = "workoutID" placeholder="Enter ID Here:">
        <br>
        <br>
        <button id = "button2" (click)="deleteWorkout()">Delete Workout</button>
        <br>
 
    </div>

    <!-- <app-exercise *ngFor="let i of exerciseList" [exercise]="i"></app-exercise> -->

</body>
