
<body>

    <div id="addNewWorkout"> <!-- header1 -->
        <h1>Add A Workout</h1>
        <h3>Workout Name:</h3>
        <input style = "width: 300px" 
                type = "text" 
                [(ngModel)] = "name" 
                placeholder="Enter Workout Name Here : ">
        <br>
        <h3>Intensity Level</h3>
        <select [(ngModel)] = "intensityID" ngOptions = "let intensity in intensityList">
            <option value = "1">{{intensity1}}</option>
            <option value = "2">{{intensity2}}</option>
            <option value = "3">{{intensity3}}</option>
        </select>
        <br>
        <h3>Description (Optional)</h3>
        <input style = "width: 300px" 
                type = "text" 
                [(ngModel)] = "desc" 
                placeholder="Enter Description Here : ">
        <br>
        <br>
        <button id = "button1" (click)="addWorkout()">Add Workout</button>
        <br>
        <br>
        <div id = "workoutAdded">Workouts Added : </div>

    </div>

    <br>
    <br>

    <div id="addExerciseToExistingWorkout"> <!-- header3 -->
        <h1>Add Exercises To Existing Workout</h1>
        <h3>Select Workout</h3> <!-- TODO // SET UP A DROP DOWN FOR ALL ID'S AND CORRESPONDING NAMES-->
        <select [(ngModel)] = "workoutID" style = "width: 500px">
            <option value = ""></option>
            <option value = "">Light Intensity</option>
            <option *ngFor = "let workout of workoutList1" 
                value = "{{workout.workoutID}}"> Name : {{workout.workoutName}}</option>
            <option value = ""></option>
            <option value = "">Moderate Intensity</option>
            <option *ngFor = "let workout of workoutList2"
                value = "{{workout.workoutID}}">Name : {{workout.workoutName}}</option>
            <option value = ""></option>
            <option value = "">Heavy Intensity</option>
            <option *ngFor = "let workout of workoutList3"
                value = "{{workout.workoutID}}">Name : {{workout.workoutName}}</option>
        </select>
        <br>
        <br>
        <button id = "button3" (click)="deleteWorkout()">Add Exercises</button>
        <br>
 
    </div>

    <br>
    <br>

    <div id="deleteWorkout"> <!-- header2 -->
        <h1>Delete A Workout By ID</h1>
        <h3>Select Workout</h3> <!-- TODO // SET UP A DROP DOWN FOR ALL ID'S AND CORRESPONDING NAMES-->

        <select [(ngModel)] = "deleteWorkoutID" style = "width: 500px">
            <option value = "{{nullID}}"></option>
            <option value = "{{nullID}}">Light Intensity</option>
            <option *ngFor = "let workout of workoutList1" 
                value = "{{workout.workoutID}}">Name : {{workout.workoutName}}</option>
            <option value = "{{nullID}}"></option>
            <option value = "{{nullID}}">Moderate Intensity</option>
            <option *ngFor = "let workout of workoutList2"
                value = "{{workout.workoutID}}">Name : {{workout.workoutName}}</option>
            <option value = "{{nullID}}"></option>
            <option value = "{{nullID}">Heavy Intensity</option>
            <option *ngFor = "let workout of workoutList3"
                value = "{{workout.workoutID}}">Name : {{workout.workoutName}}</option>
        </select>

        <!-- <input style = "width: 300px" type = "number" [(ngModel)] = "workoutID" placeholder="Enter ID Here:"> -->
        <br>
        <br>
        <button id = "button2" (click)="deleteWorkout()">Delete Workout</button>
        <br>

        <!-- <h3 id = "errorDisplay" style = "display: none;">*You Must Select A Valid Input*</h3>
 
        <button id = "reset" style = "display: none; width: 300px" 
            (click) = "resetDelete()">Reset</button> -->

    </div>

    <!-- <app-exercise *ngFor="let i of exerciseList" [exercise]="i"></app-exercise> -->

</body>
